/* Etiquetas principales  */

/*  html {
  font-size: 62.5%; esta linea y la de abajo hacen que 1 rem = 10px aprox pero mantienen la adaptacion 
} */

body {
  margin: 0px;
  text-align: center;
  font-family: "Parisienne", cursive;
}

h1 {
  margin: 0px;
  font-family: "Parisienne", cursive;  /* 16px es aprox 1rem. */
  font-size: 3.5rem; /* el tamanio en rem es relativo al cuerpo entero y no al directorio padre */
  line-height: 2;
}

h2 {
  margin: 0px;
  font-family: "Lobster Two", cursive;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2;
  padding-top: 2.5rem;
}

h3 {
  margin: 0px;
  font-family: "Lobster Two", cursive;
  font-size: 1.25rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

h4 {
  
  font-family: "Parisienne", cursive;
  font-size: 0.75rem;
}

p {
  margin: 0px;
  font-family: "Arvo", serif;
  font-size: 0.625rem;
}

hr {
  border-color: #393e46;
  border-style: dotted none none;
  width: 75%;
  border-width: 6px;
}

a{
  color: #FFFFFF;
  font-family: "Parisienne", cursive;
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
}

a:hover {
  color: #000000;
} 
/* div */


.inicio {
  background-color: #af8baf;
  margin: 0 0 0 0;
  padding-top: 30px;
  position: static;
}

.datosperfil {
  background-color: rgb(58, 139, 209);
  margin: 0 0 0 0;
  height: auto;
  width: auto;
}

.habilidades {
  background-color: rgb(58, 139, 209);
  margin: 0 0 0 0;
}
/* subsecciones */
.tipo1 {
  width: 50%;
  margin: 4% auto 4% auto;
}

.tipo2 {
  width: 50%;
  margin: 4% auto 0px auto;
}
/* termino de subsecciones */


.contacto {
  background-color: rgb(58, 139, 209);
  margin: 0 0 0 0;
  padding-bottom: 2rem;
}

.piedepagina {
  background-color: rgb(103, 128, 99);
  margin: 0 0 0 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* imagenes */

/* seccion inicio */ 
/* por ahora el posicionamiento debe hacerse sobre la pantalla de trabajo 
   mas adelante se hara adaptativo para los dispositivos variados  */
.nube {
  position: relative;
  right: 6rem;
  top: 12rem;
  width: 15%;
}

.nubelluvia {
  position: relative;
  left: 12rem;
  top: 12rem;
  width: 15%;
}

.mountain {
  position: static;

  width: 90%;
}

/* seccion datosperfil */

.fotoperfil {
  margin: auto;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  
}

/* subsecciones */
.fotoacademia {
  background-color: rgb(53, 90, 90);
  border-radius: 50%;
  width: 25%;
  float: left;
  /* clear: right;  esto evita que le texto o elemento a la derecha invada la imagen
      para ello pasa el elemnto hacia abajo de la imagen  */
}

.fotohabilidades {
  
  border-radius: 20%;
  width: 21%;
  float: right;
}

/* pie de pagina cambios */

/* cambio del texto derechos de autor */

.derechosautor {
  padding-top: 2rem;
  color: burlywood;
  
}


/* Tablas */


/* seccion datosperfil */
.tablaestudios {
  margin: auto;
}

/* seccion habilidades */

/* subsecciones */
.tablacomputo {
  margin: auto;
}

.tablaidiomas {
  margin: auto;
}




/* solo para hacer un boton usar el generador de botones internet */
.BUTTON_ACV {
   background: #3DF66B;
   background-image: -webkit-linear-gradient(top, #3DF66B, #1E62D0);
   background-image: -moz-linear-gradient(top, #3DF66B, #1E62D0);
   background-image: -ms-linear-gradient(top, #3DF66B, #1E62D0);
   background-image: -o-linear-gradient(top, #3DF66B, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3DF66B, #1E62D0);
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Brush Script MT;
   width: 56px;
   font-size: 18px;
   font-weight: 100;
   padding: 21px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: -4px 5px 6px #000000;
   border: solid #000000 4px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_ACV:hover {
   background: #CAD01E;
   border: solid #000000 1px;
   -webkit-border-radius: 22px;
   -moz-border-radius: 22px;
   border-radius: 22px;
   text-decoration: none;
}